# ==============================
# Основные правила для Node.js
# ==============================
node_modules/          # Игнорировать папку с зависимостями
npm-debug.log          # Логи отладки npm
yarn-debug.log         # Логи отладки Yarn
yarn-error.log         # Логи ошибок Yarn
package-lock.json      # (Опционально) Если вы хотите игнорировать lock-файл
yarn.lock              # (Опционально) Если вы используете Yarn

# ==============================
# Sequelize
# ==============================
# Папка с миграциями и seeds (если они не нужны в репозитории)
# migrations/
# seeders/

# Конфигурационные файлы Sequelize
config/config.json     # Файл конфигурации базы данных (часто содержит чувствительные данные)

# ==============================
# Express
# ==============================
# Логи приложения
logs/
*.log

# Скомпилированные файлы или артефакты
dist/
build/

# ==============================
# MySQL
# ==============================
# Дампы базы данных
*.sql
*.dump

# ==============================
# Операционная система
# ==============================
# macOS
.DS_Store

# Windows
Thumbs.db
