# Исключить файлы окружения
.env
.env.local
.env.development
.env.production

# Исключить папку node_modules
node_modules/

# Исключить логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Исключить временные файлы
*.tmp
*.swp
.DS_Store

# Исключить IDE-файлы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Исключить папки сборки
dist/
build/
out/

# Исключить кэши npm/yarn
.yarn-cache/
.yarn-integrity
.pnp.*
.cache/

# Исключить файлы, связанные с зависимостями
package-lock.json
yarn.lock
pnpm-lock.yaml

# Исключить тестовые отчеты
coverage/

# Исключить файлы операционной системы
Thumbs.db
ehthumbs.db
Desktop.ini

# Исключить резервные копии
*~
*.bak

# Исключить файлы, созданные редакторами
*.orig